

        <h1 style="padding-left:120px; padding-bottom:60px;">Bonjour ! Vous avez des e-mails !</h1>


        <center>
          <%= link_to "Recevoir un Email", email_index_path,  method: :post, remote: true, class:"btn btn-outline-primary" %>
        </center>

        <br><br>


<div class="container row" style="margin-right:auto;margin-left:auto;">

    <div class="col-4 list-group">

      <p class="list-group-item active">Liste des Emails</p>

    </div>

    <div class="col-8 list-group">

      <p class="list-group-item active">Email selectionné</p>

    </div>

</div>




<div class="container row" style="margin-right:auto;margin-left:auto; " id="email_object">

    <div class="col-4 list-group">
      <% @email.each do |t| %>
        <%if t.read == false %>
          <div class="delete"><li class="list-group-item bold" id="email-<%= t.id%>" style="font-weight:bold;">Object : <a href="<%= email_path(t)%>" data-remote="true" id="lienlien"><%= t.object %></a><br><small><%=t.created_at%></small></li></div>
        <% else%>
          <div class="delete"><li class="list-group-item" id="email-<%= t.id%>"> Object : <a href="<%= email_path(t)%>" data-remote="true" ><%= t.object %></a><br><small><%=t.created_at%></small></li></div>
        <%end%>
      <%end%>

    </div>


    <div class="col-8 list-group"  id="email_body">

            <!-- <li class="list-group-item" >  </li> -->

    </div>

</div>
