

        <p>zjkehrjkzehrjkze</p>


<div class="container row" style="margin-right:auto;margin-left:auto;">

    <div class="col-6 list-group">

      <p class="list-group-item active">Liste des Emails</p>

    </div>

    <div class="col-6 list-group">

      <p class="list-group-item active">Email selectionné</p>

    </div>

</div>




<div class="container row" style="margin-right:auto;margin-left:auto;" id="email_object">

  <% @email.each do |t| %>

    <div class="col-6 list-group" >
      <%if t.read == false %>
        <div class="delete"><li class="list-group-item" id="email-<%= t.id%>" style="font-weight:bold;">Object : <a href="<%= email_path(t)%>" id="lien" data-remote="true" ><%= t.object %></a><br><small>Lu ? <%=t.read%> </small></li></div>
      <% else%>
        <div class="delete"><li class="list-group-item" id="email-<%= t.id%>"> Object : <a href="<%= email_path(t)%>" id="lien" data-remote="true" ><%= t.object %></a><br><small>Lu ? <%=t.read%> </small></li></div>
      <%end%>

    </div>

    <div class="col-6 list-group"  id="email_body">

            <!-- <li class="list-group-item" >  </li> -->

    </div>
  <%end%>

      </div>

      <br><br>

      <center>
        <%= link_to "Recevoir un Email", email_index_path,  method: :post, remote: true, class:"btn btn-outline-primary" %>
      </center>
